:host {
	display: block;
}

// Syncfusion chart overrides
:host ::ng-deep {
	.e-chart {
		background: transparent !important;
		border: none !important;
	}

	.e-chart-legend-text {
		fill: var(--brand-text-muted) !important;
	}
}
