:host {
    display: block;
    padding: var(--space-4);
}

.col-row-num {
    width: 40px;
}

.col-actions {
    width: 170px;
}

.row-superuser {
    opacity: 0.75;
}

.table {
    th {
        font-size: var(--font-size-sm);
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        color: var(--bs-secondary-color);
        border-bottom-width: 2px;

        &.sortable {
            cursor: pointer;
            user-select: none;
            white-space: nowrap;

            &:hover {
                color: var(--bs-body-color);
            }
        }
    }
}

.sort-icon {
    font-size: 0.65em;
    margin-left: var(--space-1);
    opacity: 0.5;

    &.bi-caret-up-fill,
    &.bi-caret-down-fill {
        opacity: 1;
        color: var(--bs-primary);
    }
}
