// Options panel table column widths
.options-table {
    .col-drag {
        width: 5%;
    }

    .col-label {
        width: 45%;
    }

    .col-value {
        width: 45%;
    }

    .col-actions {
        width: 5%;
    }
}
