<!-- Header -->
<header class="tsic-header">
  <div class="container-fluid">
    <app-client-header-bar>
    </app-client-header-bar>
  </div>
</header>

<!-- Menu (below header) -->
<app-client-menu></app-client-menu>

<!-- Main Content -->
<main class="container-fluid py-4">
  <!-- Banner (before main content) -->
  <app-client-banner></app-client-banner>

  <div class="row">
    <!-- Content Area -->
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

<!-- Footer -->
<app-client-footer-bar></app-client-footer-bar>