<!-- Header -->
<header class="tsic-header">
  <app-client-header-bar>
  </app-client-header-bar>
</header>

<!-- Menu (below header) -->
<app-client-menu></app-client-menu>

<!-- Main Content -->
<main class="container-fluid pb-2 pb-md-4">
  <div class="row">
    <!-- Content Area -->
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

<!-- Footer -->
<app-client-footer-bar></app-client-footer-bar>

<!-- Scroll to Top Button -->
<app-scroll-to-top></app-scroll-to-top>